nav{
    float: right;
}
label{
    margin-right: 20px;
}
input{
    padding: 5px;
    margin-bottom: 10px;
}
#qtext{
    margin-top: 20px;
    width: 300px;
}
#button{
    width: 80px;
    margin-left: 265px;
    box-shadow: 2px 2px 2px #888888;
}
div{
    padding: 10px;
    width: 500px;
}
h2{
    display: inline;
}
.testing{
    margin-top: 10px;
}
.error{
    color: red;
    font-style: italic;
}
.error{
    margin-left: 50px;
}